.form-container {
  display: flex;
  box-sizing: border-box;
  form {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 0 20px;
  }
  h3 {
    color: #fff;
  }
  .form-wrapper {
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 8px;
    justify-content: space-between;
    background-color: #fff;
    width: 100%;
    max-width: 50vw;
    .input-wrapper {
      display: flex;
      flex-direction: column;
      label {
        margin-bottom: fn.rem(10);
        color: #3f3844;
      }
      input,
      textarea {
        width: 100%;
        padding: 10px;
        box-sizing: border-box;
        border: 1px solid #ccc;
        border-radius: 4px;
        transition: border-color 0.3s ease;
        margin-bottom: fn.rem(30);
      }
      textarea {
        resize: none;
      }
    }
    .upload-container {
      background-color: rgba(255, 255, 255, 0.1);
      & > *[data-ut-element="button"] {
        color: #fff;
        background-color: #f58a42;
      }
      & > *[data-ut-element="label"] {
        color: #3f3844;
      }
      & > *[data-ut-element="allowed-content"] {
        color: #3f3844;
      }
    }
    .button-wrapper {
      display: flex;
      justify-content: space-between;
    }
  }
}
