.albums-page {
  padding: 20px;
  .albums-container {
    display: flex;
    flex-direction: column;
    .add-album {
      align-self: flex-start;
      margin-bottom: 20px;
    }
    .albums {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 20px;
    }
    @media (max-width: 1300px) {
      .albums {
        grid-template-columns: repeat(3, 1fr);
      }
    }
    @media (max-width: 980px) {
      .albums {
        grid-template-columns: repeat(2, 1fr);
      }
    }
    @media (max-width: 660px) {
      .albums {
        grid-template-columns: repeat(1, 1fr);
      }
    }
  }
}

.upload-container {
  background-color: #fff;
  & > *[data-ut-element="button"] {
    color: #fff;
    background-color: #f58a42;
  }
  & > *[data-ut-element="upload-icon"] {
    color: #acacac;
  }
  & > *[data-ut-element="label"] {
    color: $font-color;
  }
  & > *[data-ut-element="allowed-content"] {
    color: $font-color;
  }
}
