.album-card-link {
  text-decoration: none;
  .album-card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    border-radius: 8px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border: 1px solid #d3d3d3;
    &:hover {
      transform: scale(1.05); /* Scales the card by 5% */
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    }
    .image-container {
      position: relative;
      height: 200px;
      width: 100%;
    }
    .title-wrapper {
      display: flex;
      flex-direction: column;
      padding: 20px 20px;
      width: 300px;
      overflow: hidden;
      h3,
      p {
        white-space: nowrap;
        text-overflow: ellipsis;
        color: $font-color;
      }
      .count-wrapper {
        display: flex;
        .photo-count,
        .comment-count {
          display: flex;
          align-items: center;
          margin: 5px;
          svg {
            height: 15px;
            color: gray;
            margin-right: 5px;
            margin-bottom: 2px;
          }
        }
      }
      .album-card-info {
        font-size: fn.rem(14);
        font-weight: 400;
        font-style: italic;
      }
    }
    img {
      max-width: 100%;
      object-fit: cover;
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
    }
  }
}
