.album-card-link {
  text-decoration: none;
  .album-card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    border-radius: 8px;
    .title-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 20px 20px;
      h3,
      p {
        width: 250px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        color: #3f3844;
      }
      .album-card-info {
        font-size: fn.rem(14);
        font-weight: 400;
        font-style: italic;
      }
    }
    img {
      object-fit: cover;
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
    }
  }
}
