.confirmation-modal-wrapper {
  display: flex;
  position: fixed;
  z-index: 2;
  background-color: #fff;
  padding: 60px;
  border-radius: 8px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 400px;
  height: 200px;
  justify-content: center;
  align-items: center;
  .confirmation-modal {
    display: flex;
    flex-direction: column;
    h2 {
      color: $font-color;
      margin-bottom: 40px;
    }
    .button-wrapper {
      display: flex;
      justify-content: space-between;
    }
  }
}
.mask {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
  top: -100vh;
  bottom: -100vh;
  left: 0;
  right: 0;
}
