.album-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  h1,
  h4,
  p {
    color: $font-color;
  }
  h4 {
    margin-bottom: 20px;
  }
  .back-link {
    display: flex;
    align-items: center;
    margin-right: auto;
    margin-left: 95px;
    text-decoration: none;
    color: $font-color;
    svg {
      margin-right: 5px;
      height: 1rem;
    }
  }
  .album-title,
  .album-description {
    margin-bottom: 20px;
  }
  .album-description {
    font-size: fn.rem(18);
  }
  .album-info {
    font-size: fn.rem(14);
    font-weight: 400;
    font-style: italic;
    margin-bottom: 20px;
  }
  .uploadthing-container {
    width: 500px;
    margin: 20px 0;
  }
}
