@use "functions" as fn;
@import "../src/components/nav-bar/nav-bar.scss";
@import "../src/app/photos/album-card.scss";
@import "../src/app/photos/albums.scss";
@import "../src/components/button/button.scss";
@import "../src/app/create-album-form/create-album-form.scss";

* {
  box-sizing: border-box;
  font-family: "Source Sans 3", sans-serif;
}

html {
  height: 100%;
}
body {
  min-height: 100%;
  margin: 0;
  height: calc(100vh - 60px);
  width: 100vw;
  background: #c33764;
}

// main {
//   overflow: hidden;
// }

h1,
h2,
h3,
p {
  color: #fff;
}

p {
  font-weight: 500;
}
